*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html , body{
  height: 100%;
  width: 100%;
  background-color: #1E1E1E;
}

.cryptoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.row{
  height: 6rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 5rem;
  border-bottom: 2px solid white;
}

.crypto_name{
  display: flex;
  align-items: center;
  width: 15rem;
  font-size: 1.5rem;
}

.crypto_name> img{
  width: 3rem;
  margin-right: 1.5rem;
}

.row>p{
  font-size: 1.5rem;
}

.red{
  color: red;
}

.green{
  color: rgb(90, 235, 90);
}